{% load staticfiles %}
{% block content %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}" />
{% endblock %}

{% load static %}

  <img src ="{% static 'images/sweets.png' %}" class="register"/>
<html>

<head>
    <meta charset="utf-8">
    <title>Registration</title>
</head>

<body>
    <h1 class="register-title">Please Register</h1>
<div class="container">
        <form action="{% url 'sweetsplusapp:register' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="first_name"class="left" >First Name: </label>
            <input id="first_name" class="right" type="text" name="first_name" value="{{ register.first_name }}">
        </fieldset>
        <fieldset>
            <label for="last_name" class="left">Last Name: </label>
            <input id="last_name" class="right" type="text" name="last_name" value="{{ register.last_name }}">
        </fieldset>
        <fieldset>
            <label for="username" class="left">Username: </label>
            <input id="username" class="right" type="text" name="username" value="{{ register.username }}">
        </fieldset>
        <fieldset>
            <label for="email" class="left">Email: </label>
            <input id="email"  class="right" type="text" name="email" value="{{ register.email }}">
        </fieldset>
        <fieldset>
            <label for="password" class="left">Password: </label>
            <input id="password" class="right" type="text" name="password" value="{{ register.password }}">
        </fieldset>
        <fieldset>
            <label for="verify_password" class="left">Verify Password: </label>
            <input id="verify_password" class="right" type="text" name="verify_password" value="{{ register.verify_password }}">
        </fieldset>
        {% if register.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" class="submit" value="Register" />
        {% endif %}

    </form>
</div>
    <form action="{% url 'sweetsplusapp:login' %}">
    {% csrf_token %}
    <input type="hidden" name="login">
    <button type="submit" class="submit-login">Return to Login</button>
  </form>
{% endblock %}
</body>

</html>