{% extends 'shared/base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/favorite.css' %}" />
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sweets Plus</title>
  </head>
{% load static %}
      <img src ="{% static 'images/cake.jpg' %}" class = "cake">
<div class = "container">
  <body>
    <h1>Favorites</h1>
{% comment %} favorite is singular because you are looking for a singular favorite {% endcomment %}
    <ol>
    {% for favorite in all_favorites %}
    <li>
      <a href="{% url 'sweetsplusapp:recipe' favorite.recipe_id %}">{{favorite.recipe.name }}</a>
    </li>
    {% endfor %}
    </ol>

  </body>
  </div>
</html>
{% endblock content%}