{% extends 'shared/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sweets Plus</title>
  </head>
  <body>
    <h1>Favorites</h1>
{% comment %} favorite is singular because you are looking for a singular favorite {% endcomment %}
    <ol>
    {% for recipe in all_recipes %}
    <li>
       <a href="{% url 'sweetsplusapp:recipes' recipe.id %}"> {{ category.recipe.name }} </a>
    {% comment %} {{ recipe.name }} {% endcomment %}
   </li>
    {% endfor %}
    </ol>

  </body>
</html>
{% endblock content%}