{% extends 'shared/base.html' %}
{% block content %}

{% comment %} {% load staticfiles %} {% endcomment %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Recipe</title>
</head>

<body>

    <section id="recipe-details">
        <h1>{{ recipe.name }}</h1>
        Description: {{ recipe.description }}<br> Ingredients: {{ recipe.ingredients }}<br>
        Cook time: {{ recipe.cook_time }}<br> Instructions: {{ recipe.instructions }}
    </section>

    <section id="recipe-actions" style="display:flex;">

        <form action="{% url 'sweetsplusapp:recipe' recipe.id %}" method="GET">
            {% csrf_token %}
            <button>Add To Favorites</button>
        </form>
        {% comment %} give user access to only edit or delete their recipe {% endcomment %}

        {% if is_cook %}
        <form action="{% url 'sweetsplusapp:recipe_edit_form' recipe.id %}" method="GET">
            {% csrf_token %}
            <button>Edit Recipe</button>
        </form>
        <form action="{% url 'sweetsplusapp:recipe' recipe.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete Recipe</button>
        </form>
        <form action="{% url 'sweetsplusapp:recipe' recipe.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="REMOVE_FAV">
            <button>Undo Favorite</button>
        </form>
        {% endif %}
    </section>

</body>

</html>
{% endblock content %}