{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Recipe</title>
</head>

<body>

    <section id="recipe-details">
        <h1>{{ recipe.name }}</h1>
    </section>

    <section id="recipe-actions" style="display:flex;">
        <form action="{% url 'sweetsplusapp:recipe' recipe.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'sweetsplusapp:recipe_edit_form' recipe.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>

</body>

</html>