{% extends 'shared/base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/category.css' %}" />
{% endblock %}
{% block content %}
{% comment %} <!DOCTYPE html> {% endcomment %}
{% comment %} <html> {% endcomment %}
{% comment %} <head> {% endcomment %}
    {% comment %} <meta charset="utf-8"> {% endcomment %}
    {% comment %} <title>Category</title> {% endcomment %}
{% comment %} </head> {% endcomment %}
<div class="container">
<body>
{% load static %}
{% comment %} <div class="container"> {% endcomment %}
    <img src ="{% static 'images/food.jpg' %}" class = "food"/>
    <div id="category-details" class="food-category">
        {% comment %} <h1>{{ category.name }}</h1> {% endcomment %}
        <h1 class="cake-title">Cakes: </h1>
        <ol>
        {% for recipe in category.recipes.all %}
            <li>
                <a href="{% url 'sweetsplusapp:recipe' recipe.id %}"> {{ recipe.name }}</a>
            </li>
        {% endfor %}
        </ol>

    {% comment %} </div> {% endcomment %}
    </div>

</body>
</div>
{% endblock content %}