{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Category</title>
</head>

<body>

    <section id="category-details">
        <h1>{{ category.name }}</h1>
    </section>

    <section id="category-actions" style="display:flex;">
        <form action="{% url 'sweetsplusapp:category' category.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'sweetsplusapp:category_edit_form' category.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>

</body>

</html>