.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#a {
    color: black;
}
.title {
    margin-left: 135px;
    color: white;
    text-shadow: -1px -1px 0 darkslateblue,
    1px -1px 0 darkslateblue,
    -1px 1px 0 darkslateblue,
    1px 1px 0 darkslateblue;
}

.title-page {
    margin-left: 30px;
    color: skyblue;
    font-size: 30px;
    text-shadow: -1px -1px 0 darkslateblue,
    1px -1px 0 darkslateblue,
    -1px 1px 0 darkslateblue,
    1px 1px 0 darkslateblue;
}
.text {
    margin-left: 5px;
    color: black;
}
.instructions {
    background:skyblue;
}
.description {
    background:white;
    color:black;
    opacity: .6;
    width: 400px;
    margin-bottom: 5px;

}
.form-color {
    background: skyblue;
}
ol {
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.name {
    margin-left: 120px;
}
.sweets {
    width: 100%;
    position: absolute;
    top: 50px;
    z-index:-1;
}
.glyphicon {
    color:red;
}
.left {
    width: 30%;
    float: left;
    text-align: right;
    color: white;
    text-shadow: -1px -1px 0 darkslateblue,
    1px -1px 0 darkslateblue,
    -1px 1px 0 darkslateblue,
    1px 1px 0 darkslateblue;

}
.right {
    width: 65%;
    margin-left: 10px;
    margin-bottom: 5px;
    float:left;
}
.submit{
    width: 65%;
    margin-right: 15px;
    float:right;
}
.update{
    width: 65%;
    margin-right: 15px;
    float:right;
}
.button {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.button:active {
	position:relative;
	top:1px;
}
.submit {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.submit:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.submit:active {
	position:relative;
	top:1px;
}
