{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sweets Plus</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>

        .navList {
            list-style-type: none;
            display: flex;
            border: 2px solid dark blue;
            background-color: gray;
            padding: .5em;
        }

        .navList__route {
            margin: 0 1.5em;
        }
        a {
            color: black;
        }
    </style>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    {% block css %}
    {% endblock %}
</head>

<body>

    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'sweetsplusapp:categories' %}">Categories</a>
            <li class="navList__route"><a href="{% url 'sweetsplusapp:recipe_form' %}">Add Recipe</a>
            <li class="navList__route"><a href="{% url 'sweetsplusapp:favorites' %}">Favorites</a>
            {% if request.user.is_authenticated %}
                <li class="navList__route"><a href="{% url 'sweetsplusapp:logout' %}">Logout</a></li>
            {% else %}
                <li class="navList__route"><a href="{% url 'sweetsplusapp:login' %}">Login</a></li>
            {% endif %}
        </ol>
                 Hello, {{user.first_name}}!
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>